.tiptap-content-view .katex,
.quiz-rich-content-prosemirror .katex,
.math-content-typography .katex {
  color: inherit;
  font-family: inherit !important;
  font-size: 1em !important;
  font-weight: inherit !important;
}

.tiptap-content-view .katex :is(.mathnormal, .mathit),
.quiz-rich-content-prosemirror .katex :is(.mathnormal, .mathit),
.math-content-typography .katex :is(.mathnormal, .mathit) {
  color: inherit;
  font-family: inherit !important;
  font-style: normal !important;
  font-weight: inherit;
}

.tiptap-content-view .katex .mfrac,
.quiz-rich-content-prosemirror .katex .mfrac,
.math-content-typography .katex .mfrac {
  font-size: calc(1em / 0.7) !important;
}

.tiptap-content-view .katex .mfrac .frac-line,
.quiz-rich-content-prosemirror .katex .mfrac .frac-line,
.math-content-typography .katex .mfrac .frac-line {
  border-bottom-width: 2px !important;
}
